<% provide(:title, "timeline") %>

<div>
  <%= link_to "+", micropost_path, :onclick=>"window.open(this.href, 'postPage', 'height=400, width=800');return false;" %>
</div>

<% @microposts.each{|micropost| %>
  <%= render "layouts/microposts", micropost: micropost %>
<% } %>
